# Python Cheat Sheet

## Primitive Data Types

Python has four main primitive data types: `bool`, `int`, `float`, and `str`.

### `bool`

`bool` is the Boolean type. There are only two Boolean values: `True` and `False` (notice the capital letters).

In [12]:
type(True)

bool

In [13]:
type(False)

bool

Objects have implicit truthiness. "Empty" objects, like empty strings, empty lists, and the number 0, are falsy. "Non-empty" objects, on the other hand, are truthy. The function `bool()` takes an object and returns its truthiness.

In [14]:
bool(0)

False

In [15]:
bool(1)

True

In [16]:
bool("")

False

In [17]:
bool("hello")

True

In [18]:
bool([])

False

In [19]:
bool(["abcd"])

True

### `int`

`int` is the integer type.`int`s are arbitrary-precision integers; there's no distinction between short, int, long, etc. When writing long numbers, you can optionally use `_` as a thousands separator.

In [20]:
type(1)

int

In [21]:
type(321658465146846351684653126354968)

int

In [22]:
# With thousands separator
1_000_000

1000000

The `int()` function converts other data types to `int`s, if possible. When converting floats, the number is always rounded **down** towards the nearest integer, like the floor function in math. With strings, the optional parameter `base` lets you convert non-decimal numbers into decimal.

In [23]:
int(True)

1

In [24]:
int(False)

0

In [25]:
int(3.14159)

3

In [26]:
int(2.718281828)

2

In [27]:
int("255")

255

In [28]:
int("11111111", base=2)  # binary -> decimal

255

In [29]:
int("ff", base=16)  # hexadecimal -> decimal

255

### `float`

`float` is the fractional data type (numbers with a decimal point). Despite the name, `float`s are actually double precision (64 bits).

There are two shorthands for entering floats. When the float is a whole number, it can be written without trailing zeroes. Large numbers may be entered in scientific notation.

In [30]:
type(3.14159)

float

In [31]:
42.0

42.0

In [32]:
42.

42.0

In [33]:
1e6  # 1 x 10^6, i.e. 1,000,000

1000000.0

The `float()` function converts other data types to `float`s, if possible. Unlike `int()`, it **does not** have a `base` parameter; all inputs must be decimal numbers.

In [34]:
float(42)

42.0

In [35]:
float("2.718281828")

2.718281828

In [36]:
float("ff")

ValueError: could not convert string to float: 'ff'

In [37]:
float(int("ff", 16))

255.0

### `str`

`str` is the text data type. `str`s are Unicode-encoded (UTF-8).

There are several ways to enter strings in Python. Normal strings are surrounded by either single or double quotes.

In [38]:
type("A string")

str

In [39]:
type('Also a string')

str

Multiline strings are surrounded by three pairs of single or double quotes.

In [40]:
print("""
A
multi-
line
string
""")

A
multi-
line
string

In [41]:
print('''
Another
multi-
line
string
'''
)

Another
multi-
line
string

Raw strings are like normal strings, except they do not evaluate any escape characters. They are written as normal strings with an `r` right before the opening quote. They are very useful for writing regular expressions.

In [42]:
r"Python is ([\w ]+)[\.!\?]?"

'Python is ([\\w ]+)[\\.!\\?]?'

f-strings let you interpolate Python code (variables, function results, expressions) into a string. The are written as normal strings with an `f` right before the opening quote. Reference the interpolated value by wrapping it with curly braces.

In [43]:
a = 2
b = 8

f"{a} + {b} == {a + b}"

'2 + 8 == 10'

### Honorable Mention: `None`

`None` is Python's version of null/nil/void. Its type is `NoneType`.

## Data structures

### `list`

`list`s are ordered, mutable collections of objects. They are represented by a comma-separated sequence of objects, wrapped in square brackets.

In [45]:
type([1, 2, 3, 4, 5])

list

In [46]:
type([])

list

Like all ordered data structures in Python, `list`s are 0-indexed. Access individual list elements by index using subscript notation.

In [51]:
nums = [5, 10, 15, 20, 25]

# Subscript notation; get the second element of `nums`
nums[1]

10

Access a subset of the list by slicing. Slices are like subscript notation, except they take two indices (the starting and stopping points) separated by a colon.

In [53]:
# Get the second, third, and fourth elements.
nums[1:4]

[10, 15, 20]

In [54]:
# Get all but the first element
nums[1:]

[10, 15, 20, 25]

In [55]:
# Get all but the last element
nums[:-1]

[5, 10, 15, 20]

In [58]:
# Get all but the first and last elements
nums[1:-1]

[10, 15, 20]

Change the value of a list element by assigning a value to that index.

In [62]:
lst = [1, 2, 3]
lst

[1, 2, 3]

In [63]:
lst[0] = 42
lst

[42, 2, 3]

List elements can be of any data type, including other data structures.

In [59]:
# List of lists
# (here, a 3x3 matrix)
mat = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

mat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Accessing elements in a nested data structure:

In [60]:
# First row of mat
mat[0]

[1, 2, 3]

In [61]:
# First element of first row
mat[0][0]

1

### `tuple`

`tuple`s are ordered, immutable collections of objects. They are written as comma-separated sequences of objects, wrapped in parentheses.

Like `list`s, they can contain element of any data type, and their elements are accessed by index/slice. Unlike `list`s, you cannot assign a new value to an element.

In [64]:
tup = ("a", "b", "c")
type(tup)

tuple

In [65]:
tup[0] = "x"

TypeError: 'tuple' object does not support item assignment

### `dict`

`dict`s are unordered, mutable collections of key-value pairs. Keys and their values are separated by a colon. Dicts themselves are written as a comma-delimited sequence of k-v pairs, wrapped in curly braces. While values can be of any data type, keys must be hashable (i.e. immutable, like primitive data types or tuples). Keys must be unique.

In [68]:
dct = {
    "greeting": "Hello",
    "name": "world"
}
dct

{'greeting': 'Hello', 'name': 'world'}

Access dict items by key.

In [69]:
print(dct["greeting"], dct["name"])

Hello world

Change/add elements by key.

In [70]:
dct2 = {
    "greeting": "Hello",
    "name": "world"
}
dct2

{'greeting': 'Hello', 'name': 'world'}

In [71]:
dct2["name"] = "Jane"
dct2

{'greeting': 'Hello', 'name': 'Jane'}

Like `list`s and `tuple`s, `dict`s can have nested elements.

In [73]:
nested_dict = {
    "list": [3, 6, 9, 12, 15],
    "dict": {"a": "foo", "b": "bar"}
}
nested_dict["list"][0]

3

In [74]:
nested_dict["dict"]["a"]

'foo'

## Assignment Expression

The assignment expression consists of a variable, an equals sign, and the value to be assigned to the variable. All of the following are assignment expressions.

```python
# Assign a literal to a variable
x = 1

# Assign a function result to a variable
y = int("2")

# Reference variables on the right hand side
z = x + y

# Assign to a list element
some_list[0] = 42

# Assign to a dict element
some_dict[42] = "foo bar baz"
```

## Operators

### Mathematical Operators

* Addition
    * Operator: `+`
    * Assignment shorthand: `+=`
* Subtraction
    * Operator: `-`
    * Assignment shorthand: `-=`
* Multiplication
    * Operator: `*`
    * Assignment shorthand: `*=`
* Division
    * Operator: `/`
    * Assignment shorthand: `/=`
* Integer division
    * Operator: `//`
    * Assignment shorthand: `//=`
* Exponentiation:
    * Operator: `**`
    * Assignment shorthand: `**=`

### Logical Operators

* AND: `and`
* OR: `or`
* NOT: `not`

### Relational Operators

* Equal to: `==`
* Not equal to: `!=`
* Greater than: `>`
* Less than: `<`
* Greater than or equal to: `>=`
* Less than or equal to: `<=`

### Membership Operators

* Object is a member of a collection: `in`
* Object is not a member of a collection: `not in`

### Identity Operators

* Two variables point to the same object: `is`
* Two variables do not point to the same object: `is not`

## Significant Whitespace

Python does not use braces or semicolons to delimit statements. Instead, statements are delimited by line breaks and indentation. Line indents should be in multiples of four spaces.

For example, consider this snippet of JavaScript, compared to its Python equivalent.

JavaScript:

```javascript
let x = 42;

if (x > 100) { console.log("greater than 100"); }
else { console.log("less than 100"); }
```

Python:

```python
x = 42

if x > 100:
    print("greater than 100")
else:
    print("less than 100")
```

## Conditionals

Python conditionals are written as `if`/`elif`/`else` blocks. (There is no `case` or `switch` statement.)

Conditions are written immediately after `if` and `elif`. Parentheses are only required if the condition extends across multiple lines. Code branches are introduced by a colon and an indented block.

The simplest conditional block is an `if` block with no `elif` or `else`. It performs an action if the condition is met, but does nothing otherwise.

```python
if condition:
    do_something()
```

With an `else` block:

```python
if condition:
    do_something()
else:
    do_something_else()
```

Add additional conditions with `elif` blocks.

```python
if condition:
    do_something()
elif other_condition:
    do_other_thing()
else:
    do_something_else()
```

A common application of `if`/`else` blocks is to set a variable based on the result of a condition.

```python
if condition:
    x = "thing1"
else:
    x = "thing2"
```

Python has a shortcut for this pattern--the ternary expression.

```python
x = "thing1" if condition else "thing2"
```

## Loops

Python has two loop constructs: `while` and `for`. As with conditionals, no parentheses are written around the loop criteria and the loop body is set off in an indented block.

In [1]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

For loops are much simpler than in C-style languages.

In [2]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

A common use for `for` loops is to populate a data structure like a `list` or a `dict`.

In [3]:
less_than_10 = []
for i in range(10):
    less_than_10.append(i)
less_than_10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Python has shortcuts for this pattern: list comprehensions and dict comprehensions.

In [4]:
less_than_10 = [i for i in range(10)]
less_than_10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
users = ["Leslie Knope", "Ron Swanson"]
user_by_id = {i: user for i, user in enumerate(users)}
user_by_id

{0: 'Leslie Knope', 1: 'Ron Swanson'}

## Functions



Polymorphism

Decorators

## Classes

methods
ctor and dunder methods
class methods
static methods

## Inheritance

## Type Hinting

## Modules, imports

## Package management